.banner {
    height: 600px;
    background-image: url("https://i.postimg.cc/Zqzr8JD1/banner.png");
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
    padding-left: 20vh;
    padding-top: 5vh;
}

.title-container {
    padding-top: 20vh;
}

.title-container p {
    margin-top: 20px;
    font-weight: 500;
}